#pagePreview{
    .card{
        border-left: 4px solid #86ba4b;
        text-align: left;margin-top: 2px;
        font-size: 12px;line-height: 14px;
        padding-left: 10px;
        box-shadow: 0px 0px 5px gray;
        padding: 20px;
        margin-bottom: 20px;
    }
    .card.empty{
        border-left: 4px solid #fda34b;
    }
}